body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
}

a {
  color: #00B7FF;
}
h1 {
  margin: auto;
text-align: center;
width:500px; // this can be what ever unit you want, you just have to define it
margin-left:auto;
margin-right:auto;
}
.name_input_field {
      margin: auto;
  text-align: center;
  width:500px; // this can be what ever unit you want, you just have to define it
margin-left:auto;
margin-right:auto;
  /* align-items: center; */
}
#game_area{
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;

    width: 200px;
    height: 200px;
    margin: auto;
}
.row {
  width: 200px;
  height: 62px;
}
.game_unit {
    font-size: 29px;
    color: white;
    width: 60px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid grey;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    margin-bottom: 3px;
    margin-top: 3px;
}
.new_game{
    font-size: 29px;
    color: white;
    width: 60px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid grey;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    margin-bottom: 3px;
    margin-top: 3px;
}
.reset {
    font-size: 29px;
    color: white;
    width: 60px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid grey;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    margin-bottom: 3px;
    margin-top: 3px;
}
/* ul{ */
  /* text-align: justify; */
/* } */
li {
  list-style-type: none;
  /* margin-right: 40px; */
  text-align: left;


}

.switches {
  height: 40px; */
/* } */
.empty {
  outline-color: black;
}


.hidden {
  display: none;

}
