<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
    <script src="/socket.io/socket.io.js"></script>
  <body>
    <h1><%= title %></h1>
    <p>Browserify with Socket.io Boilerplate</p>
    <div id="root">
    <div id="name_output">
      Name:
      <span id="name_output_line"></span>
    </div>
      <div id="name_input">
        <input type="text" id="name_input_field">
        <input type="submit" id="name_input_submit">
      </div>

<button id="go">go</button>
      <div id="game">
        <!-- <table id="game_area">
          <tr>
            <td class="td" id="0">null</td>
            <td class="td" id="1">null</td>
            <td class="td" id="2">null</td>
          </tr>
          <tr>
            <td class="td" id="3">null</td>
            <td class="td" id="4">null</td>
            <td class="td" id="5">null</td>
          </tr>
          <tr>
            <td class="td" id="6">null</td>
            <td class="td" id="7">null</td>
            <td class="td" id="8">null</td>
          </tr>
        </table> -->
      </div>

    </div>


  <script src="./js/bundle.js"></script>
  </body>
</html>
