<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="game_area">
    <div class="row">
      <ul>
      <button class="game_unit empty button-outline" type="button" id="0">0</button>
      <button class="game_unit empty button-outline" type="button" id="1">1</button>
      <button class="game_unit empty button-outline" type="button" id="2">2</button>
      </ul>
    </div>

    <div class="row">
      <ul>
      <button class="game_unit empty button-outline" type="button" id="3">3</button>
      <button class="game_unit empty button-outline" type="button" id="4">4</button>
      <button class="game_unit empty button-outline" type="button" id="5">5</button>
      </ul>
    </div>
    <div class="row">
      <ul>
      <button class="game_unit empty button-outline" type="button" id="6">6</button>
      <button class="game_unit empty button-outline" type="button" id="7">7</button>
      <button class="game_unit empty button-outline" type="button" id="8">8</button>
      </ul>
    </div>
  </div>

</body>
</html>
